<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mopub.simpleadsdemo"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- For MRAID 2 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name"
            android:debuggable="true">
	    <activity android:name="com.mopub.simpleadsdemo.SimpleAdsDemo"
	            android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" >
	        <intent-filter>
	            <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.LAUNCHER" />
	        </intent-filter>
	    </activity>
        <activity android:name="com.mopub.mobileads.MoPubActivity"
                android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.mopub.mobileads.MraidActivity"
                android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.mopub.mobileads.MraidBrowser"
                android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
                android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.mopub.simpleadsdemo.BannersTab" />
        <activity android:name="com.mopub.simpleadsdemo.InterstitialsTab" />
        <activity android:name="com.mopub.simpleadsdemo.ConsoleTab" />
        <activity android:name="com.mopub.simpleadsdemo.AboutTab" />
    </application>

</manifest>
